@font-face {
    font-family: 'charterbold';
    src: url('fonts/charter_bold-webfont.eot');
    src: url('fonts/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charter_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charteritalic';
    src: url('fonts/charter_italic-webfont.eot');
    src: url('fonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterregular';
    src: url('fonts/charter_regular-webfont.eot');
    src: url('fonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url('fonts/abril_fatface.eot');
    src: url('fonts/abril_fatface.eot?#iefix') format('embedded-opentype'),url('fonts/abril_fatface.woff2') format('woff2'),url('fonts/abril_fatface.woff') format('woff'),url('fonts/abril_fatface.ttf') format('truetype');
}


body {
    font-family: charterregular;
    font-size: 13px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    color: #5f5f5f;
    background-color: #fbfbfb;
    overflow-x: hidden
}

div{
    font-weight: normal;
    padding: 15px 25px;
}

.intro {
    padding-bottom: 0px
}

.middle{
    padding-top: 0px;
    padding-bottom: 0px
}

input{
    border: none;
    color: #fbfbfb;
    background: #fbfbfb;
}

a { 
    color: #9e2f2f;
    text-decoration: none;
    cursor: pointer
}

a:hover {
    background-color: #f9eeee;
    color: #0c0a0a;
    text-decoration: none;
    border-radius: 2px
}

.selected{
    background-color: #f9eeee;
    color: #0c0a0a;
    text-decoration: none;
    border-radius: 2px
}

.small {
    font-size: 0.9em;
}

.simple {
    padding: 0px;
}

.snippet {
    margin-top: 8px;
}

hr{
    border: 0;    
    border-top: 1px dotted #c3c2c2;
    margin: 20px 0;
}

.section {
    font-family: AbrilFatface-Regular;
    font-size: 1.2em;
    padding: 0em 0em 0.5em 0em
}

.candidate{
    margin: 0.9em 0.5em;
    font-size: 0.9em;
}

.imgcontain{
    max-height: 300px;
    overflow: hidden;
}

#articleimg{
    position:relative;
    display:block;
    width: 100%;
    height: auto;
}

.titleseparator{
    margin: 2px 25px;
}

.refseparator{
    margin: 2px 60% 2px 25px;
}

#tooltip {
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: inline-block;
}

#tooltiptext {
    font-family: AbrilFatface-Regular;
    color: #fff9ff;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 110%;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    height: 19px;
    width: 18px;
    background-size: contain;
    display: block;
    padding: 3px 3px;
    font-size: 16px;
    background-color: #0c0a0a;
    animation-duration: 0.2s;
    animation-name: pop;
    text-align: center;
    line-height: 1.5em;
}

@keyframes pop {
    0% {
        opacity: 0;
        bottom: 100%;
        height: 0%;
    }
    50% {
        opacity:1;
        bottom: 117%; 
        height: 120%;
    }   
    100% {
        bottom: 110%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#title {
    font-family: AbrilFatface-Regular;
    font-size: 1.5em;
    padding: 15px 25px 12px 25px;
    margin: 0px;
}

.reference a {
    padding: 5px 0px;
    border-radius: 3px    
}

i{
    font-family: charteritalic;
}
