@font-face { font-family: "et-book";
             src: url("et-book-roman-line-figures.woff");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "et-book";
             src: url("et-book-bold-line-figures.woff");
             font-weight: bold;
             font-style: normal; }

body {
    font-family: et-book;
    font-size: 14px;
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
    color: #8b888b;
    background-color: #fbfbfb;
    overflow-x: hidden
}

div{
    font-weight: normal;
    padding: 15px 25px;
}

#imagediv{
    padding: 0px;
    max-height: 300px;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgb(173, 173, 173), rgba(255, 255, 255, 0.61));
}

#imagedivdiv{
    padding: 0px;
    max-height: 300px;
    overflow: hidden;
}

#imgback{
    position:absolute;
    height: 300px;
    width: 100%;
    background-color: #fbfbfb
}

img{
    position:relative;
    display:block;
    width: 100%;
    height: auto;
}


a {
    color: #a26d54;
    text-decoration: none;
    cursor: pointer
}

a:hover{
    background-color: #fffabf;
    color: #a26d54;
    text-decoration: none;
    border-radius: 2px
}

#reference{
    padding: 15px 25px 30px 20px;
    display: block;
}

#reference a{
    padding: 5px 5px;
    border-radius: 3px
}

#title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 12px 25px;
    margin: 0px;
}

.domain {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0em 0em 0.5em 0em
}

.similar {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0em 0em 0.5em 0em
}

.candidate{
    margin: 0.9em 0.5em;
    font-size: 0.9em;
}

#suggestions{
    padding-top: 0px
}

#noarticle{
    padding: 0px 20px;
    font-size: 1em    
}

#intro{
    padding: 10px 10px 0px 0px;
    font-size: 1em
}

.external{
    color: #8b888b;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url("external.svg");
    padding-right: 13px
}

.wiki{
    padding: 3px
}

.selected{
    background-color: #fffabf;
    color: #a26d54;
    text-decoration: none;
    padding: 3px;
    border-radius: 2px
}

#focused{
    border: none;
    color: #fbfbfb;
    background: #fbfbfb;
}

hr{
    border: 0;    
    border-top: 1px dotted #c3c2c2;
    margin: 20px 0;
}

#imageseparator{
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #5c5c5c;
    margin: 3px 0px 0px 0px;
}

#titleseparator{
    border-style: dotted;
    border-width: 1px 0px 0px 0px;
    border-color: #c3c2c2;
    margin: 2px 25px;
}

#refseparator{
    border-style: dotted;
    border-width: 1px 0px 0px 0px;
    border-color: #c3c2c2;
    margin: 2px 60% 2px 25px;
}
