.invisible{
    display:none;
}
.appear{
    display:block;
    opacity: 1;
    color: green;
    transition: opacity 0.5s linear;
}
.disappear{
    display:block;
    opacity: 0;
    color: green;
    transition: opacity 0.5s linear;
}
